In [2]:
'''
MariaDB , HeidiSQL Program Connection Code
'''

'\nMariaDB , HeidiSQL Program Connection Code\n'

In [3]:
## 데이터베이스를 사용하기 위해 Python DB API 표준을 따르는 pymysql이라는 모듈 사용
import pymysql
import csv

import pandas as pd
import numpy as np
import re

# 형태소 분석기
from konlpy.tag import *
hannanum = Hannanum()

import sqlite3
import sqlalchemy

In [4]:
from timeit import default_timer as timer
from datetime import timedelta
start = timer()

In [5]:
df_frame = pd.read_excel('공훈록 문장 분할_20211122.xlsx')
df_frame.columns = ['seq', 'asis_seq', 'data_ch']
df_frame

           seq  asis_seq                                            data_ch
0       149042    962403  1937년 8월경 전남 광주에서 광주고등보통학교 4학년 재학 중 동 효지면 봉선리 ...
1       149043    964711  1919년 4월경 전북 남원군에서 독립만세운동에 참여하여 군중과 함께 만세시위를 벌...
2       149044    964760  1927년 7월 경부터 전남 무안군 압해면 매화리에서 매화리농민조합의 조합원으로 지...
3       149045    964761  1927년 전라남도 무안군 매화도에서 매화리농민조합에 가입하여 통상조합원으로 소작인...
4       149046    964786  1919년 3월 21일 전북 임실군 지사면 방계리에서 독립만세를 부르다 체포되어 징...
...        ...       ...                                                ...
136018      25    964548  1919년 4월경 충남 천안군(天安郡)에서 독립만세운동에 참여하여 만세시위를 벌이는...
136019      26    964553  1905년경 경북 문경에서 거의(擧義)를 기도하던 스승 박세화(朴世和)의 체포에 반...
136020      27    964575  1945년 2월 전북 순창공립농림중학교 3학년 재학중 항일비밀결사 화령회(和寧會) ...
136021      28    964576  1945년 2월 전북 순창공립농림중학교 3학년 재학중 비밀결사 화령회(和寧會) 조직...
136022      29    964584  1934년 9월 전남 장흥군 남면에서 비밀결사 전남운동협의회에 가입하여 활동하다 체...

[136023 rows x 3 columns]

In [6]:
df_frame['seq'].count()

136023

In [ ]:
df_evelist = df_frame[['data_ch']].values.tolist()
ListoStr = ''.join([str(element) for element in df_evelist[0] ])
mpva_evenouns = hannanum.nouns(ListoStr)

df_1row = df_frame[0:1]
df_evecols = pd.DataFrame(mpva_evenouns)
df_evecols.columns = ['WORD']

syn_df = pd.concat([df_1row, df_evecols], axis= 1).fillna(method='pad').drop('data_ch', axis =1)
syn_df = syn_df.astype({'seq': 'int'}).astype({'asis_seq': 'int'})

for i in range(1, 10000):
    ListoStr2 = ''.join([str(element) for element in df_evelist[i] ])
    mpva_evenouns = hannanum.nouns(ListoStr2)

    df_2row = df_frame[i:i+1]
    df_2row.index = ['0']

    df_evecols2 = pd.DataFrame(mpva_evenouns)
    df_evecols2.columns = ['WORD']

    syn_df2 = pd.concat([df_2row, df_evecols2], axis= 1).fillna(method='pad').drop('data_ch', axis =1)
    syn_df2 = syn_df2.astype({'seq': 'int'}).astype({'asis_seq': 'int'})

    syn_df2 = syn_df2.dropna()

    syn_df = syn_df.append(syn_df2, ignore_index=True)
    syn_df["serial_seq"] = syn_df.index + 1

    syn_df = syn_df[['seq', 'asis_seq', 'serial_seq', 'WORD']]

syn_df

In [96]:
syn_df.to_excel('C:\python\Test.xlsx', index = None,encoding='utf-8-sig')

In [89]:
df_frame['seq'].count()

136023

In [133]:
for w in range(0,3):
    
    df_evelist = df_frame[['data_ch']].values.tolist()
    ListoStr = ''.join([str(element) for element in df_evelist[w] ])
    mpva_evenouns = hannanum.nouns(ListoStr)

    df_1row = df_frame[w:w+1]
    df_1row.index = ['0']
    df_evecols = pd.DataFrame(mpva_evenouns)
    df_evecols.columns = ['word']

    syn_df = pd.concat([df_1row, df_evecols], axis= 1).fillna(method='pad').drop('data_ch', axis =1)
    syn_df = syn_df.dropna()
    
    syn_df["serial_seq"] = syn_df.index + 1
    syn_df = syn_df[['seq', 'asis_seq', 'serial_seq', 'word']]
    
    syn_df = syn_df.astype({'seq': 'int'}).astype({'asis_seq': 'int'})

    print(syn_df)
#     print(syn_df)
#     db_engine = sqlalchemy.create_engine("mysql+pymysql://{user}:{password}@localhost/{db}".format(user='root', password='root', db='pythonDB'))
#     # DataFrame Insert 구문
#     syn_df.to_sql('book_merit_ghev', db_engine, if_exists ='append', index=False)
                
#     conn.commit()

       seq  asis_seq  serial_seq      word
0   149042    962403           1     1937년
1   149042    962403           2        8월
2   149042    962403           3         남
3   149042    962403           4        광주
4   149042    962403           5  광주고등보통학교
5   149042    962403           6       4학년
6   149042    962403           7        재학
7   149042    962403           8         중
8   149042    962403           9         동
9   149042    962403          10        효지
10  149042    962403          11       봉선리
11  149042    962403          12        소재
12  149042    962403          13     기독교회당
13  149042    962403          14        야학
14  149042    962403          15        교사
15  149042    962403          16        활동
16  149042    962403          17       아동들
17  149042    962403          18        대상
18  149042    962403          19      민족주의
19  149042    962403          20        사상
20  149042    962403          21        고취
21  149042    962403          22       체포됨
       seq  asis_seq  serial_seq    word
0   149043    964711           1   1919년
1   149043    964711           2      4월
2   149043    964711           3       북
3   149043    964711           4     남원군
4   149043    964711           5  독립만세운동
5   149043    964711           6      참여
6   149043    964711           7       중
7   149043    964711           8    만세시위
8   149043    964711           9       벌
9   149043    964711          10       등
10  149043    964711          11      활동
11  149043    964711          12      체포
12  149043    964711          13      징역
13  149043    964711          14      2년
       seq  asis_seq  serial_seq        word
0   149044    964760           1       1927년
1   149044    964760           2          7월
2   149044    964760           3           경
3   149044    964760           4           남
4   149044    964760           5         무안군
5   149044    964760           6          압해
6   149044    964760           7         매화리
7   149044    964760           8     매화리농민조합
8   149044    964760           9         조합원
9   149044    964760          10          지주
10  149044    964760          11         소작료
11  149044    964760          12          경감
12  149044    964760          13        소작인들
13  149044    964760          14        농민조합
14  149044    964760          15          가입
15  149044    964760          16          독려
16  149044    964760          17          활동
17  149044    964760          18          동년
18  149044    964760          19          9월
19  149044    964760          20          지주
20  149044    964760          21         서인섭
21  149044    964760          22          신청
22  149044    964760          23  가옥명도(家屋明渡)
23  149044    964760          24        강제집행
24  149044    964760          25          방해
25  149044    964760          26           등
26  149044    964760          27          활동
27  149044    964760          28          징역
28  149044    964760          29          6월
29  149044    964760          30        집행유예
30  149044    964760          31          2년

In [7]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='root', db='pythondb', charset = 'utf8',
                      autocommit=True, cursorclass=pymysql.cursors.DictCursor) 
cur = conn.cursor()

try :
    with cur:
        
        for w in range(0,136022):

            df_evelist = df_frame[['data_ch']].values.tolist()
            ListoStr = ''.join([str(element) for element in df_evelist[w]])
            mpva_evenouns = hannanum.nouns(ListoStr)

            df_1row = df_frame[w:w+1]
            df_1row.index = ['0']
            df_evecols = pd.DataFrame(mpva_evenouns)

            if df_evecols.empty:   
                syn_df = df_1row.copy()
                syn_df['word'] = ['']
                syn_df["serial_seq"] = ['1']
                syn_df = syn_df[['seq', 'asis_seq', 'serial_seq', 'word']]
                syn_df = syn_df.astype({'seq': 'int'}).astype({'asis_seq': 'int'})
                syn_df
            else:
                df_evecols.columns = ['word']

                syn_df = pd.concat([df_1row, df_evecols], axis= 1).fillna(method='pad').drop('data_ch', axis =1)
                syn_df = syn_df.dropna()

                syn_df["serial_seq"] = syn_df.index + 1
                syn_df = syn_df[['seq', 'asis_seq', 'serial_seq', 'word']]

                syn_df = syn_df.astype({'seq': 'int'}).astype({'asis_seq': 'int'})
                syn_df

            #     print(syn_df)
            db_engine = sqlalchemy.create_engine("mysql+pymysql://{user}:{password}@localhost/{db}".format(user='root', password='root', db='pythondb'))
            # DataFrame Insert 구문
            syn_df.to_sql('book_merit_task', db_engine, if_exists ='append', index=False)
            conn.commit()
            
except:
    print('Error')
                
finally :
    end = timer()
    print(timedelta(seconds= end-start))
    conn.close()

5:41:02.013322

In [218]:
# df_evelist = df_frame[['data_ch']].values.tolist()
# ListoStr = ''.join([str(element) for element in df_evelist[2288] ])
# mpva_evenouns = hannanum.nouns(ListoStr)

# df_1row = df_frame[2288:2289]
# df_1row.index = ['0']
# df_evecols = pd.DataFrame(mpva_evenouns)

# if df_evecols.empty:   
#     syn_df = df_1row.copy()
#     syn_df['word'] = ['']
#     syn_df["serial_seq"] = ['1']
#     syn_df = syn_df[['seq', 'asis_seq', 'serial_seq', 'word']]
#     syn_df = syn_df.astype({'seq': 'int'}).astype({'asis_seq': 'int'})
#     syn_df

# else:
#     df_evecols.columns = ['word']

#     syn_df = pd.concat([df_1row, df_evecols], axis= 1).fillna(method='pad').drop('data_ch', axis =1)
#     syn_df = syn_df.dropna()

#     syn_df["serial_seq"] = syn_df.index + 1
#     syn_df = syn_df[['seq', 'asis_seq', 'serial_seq', 'word']]

#     syn_df = syn_df.astype({'seq': 'int'}).astype({'asis_seq': 'int'})
#     syn_df
    
# print(syn_df)

In [220]:
# df_evelist = df_frame[['data_ch']].values.tolist()
# ListoStr = ''.join([str(element) for element in df_evelist[2285] ])
# mpva_evenouns = hannanum.nouns(ListoStr)

# df_1row = df_frame[2285:2286]
# df_1row.index = ['0']
# print(df_1row)
# print()
# df_evecols = pd.DataFrame(mpva_evenouns)
# print(df_evecols)

In [219]:
# if df_evecols.empty:   
#     syn_df = df_1row.copy()
#     syn_df['word'] = ['']
#     syn_df["serial_seq"] = ['1']
#     syn_df = syn_df[['seq', 'asis_seq', 'serial_seq', 'word']]
#     syn_df = syn_df.astype({'seq': 'int'}).astype({'asis_seq': 'int'})
# #     print(syn_df)