In [2]:
'''
MariaDB , HeidiSQL Program Connection Code
'''

'\nMariaDB , HeidiSQL Program Connection Code\n'

In [3]:
## 데이터베이스를 사용하기 위해 Python DB API 표준을 따르는 pymysql이라는 모듈 사용
import pymysql
import csv

import pandas as pd
import numpy as np
import re

# 형태소 분석기
from konlpy.tag import *
hannanum = Hannanum()

import sqlite3
import sqlalchemy

In [4]:
from timeit import default_timer as timer
from datetime import timedelta
start = timer()

In [5]:
dfcol_count = pd.read_excel('공훈록_20210913_수정본.xlsx', usecols=['MNG_NO'])
dfcol_count

       MNG_NO
0           2
1           3
2           4
3           5
4           6
...       ...
16927  964735
16928  964753
16929  964762
16930  964803
16931  964856

[16932 rows x 1 columns]

In [ ]:
# Connection Info
# DictCursor cursorclass : DB를 조회한 결과를 Coulmn명이 Key인 Dictionary로 저장해줌 
# DB Insert Code
conn = pymysql.connect(host='127.0.0.1', user='root', password='root', db='pythonDB', charset = 'utf8',
                      autocommit=True, cursorclass=pymysql.cursors.DictCursor) 
cur = conn.cursor()
sum = 0

try :
    with cur:
        
        # dfcol_count['MNG_NO'] : 반복 처리 중 특정 컬럼의 값만 출력
        for i in dfcol_count['MNG_NO']:
            sql = "SELECT * FROM book_merit WHERE MNG_NO = " + str(i) + ";"
            cur.execute(sql)
            result = cur.fetchall()

            for j in result:
                df = pd.DataFrame(result)
                dataframe_list = df[['CONTENT']].values.tolist()
                ListtoString = ''.join([str(element) for element in dataframe_list])
                mpva_nouns = hannanum.nouns(ListtoString)
                df2 = pd.DataFrame(mpva_nouns)
                df2.columns = ['WORD']

                conc_df = pd.concat([df,df2], axis= 1).fillna(method='pad').drop('CONTENT', axis=1)
                conc_df = conc_df.astype({'MNG_NO': 'int'})
                conc_df["SERIAL_NO"] = conc_df.index + 1
                conc_df = conc_df[['MNG_NO', 'SERIAL_NO', 'WORD']]
                conc_df
                sum = sum + len(conc_df)
#                 conc_df.to_csv('C:\python\mpva\mpva'+ str(i) + '.csv', index = None,encoding='utf-8-sig')
                
                db_engine = sqlalchemy.create_engine("mysql+pymysql://{user}:{password}@localhost/{db}".format(user='root', password='root', db='pythonDB'))
                # pd.read_sql('book_merit_copy', db_engine)
                # DataFrame Insert 구문
                conc_df.to_sql('book_merit_gh', db_engine, if_exists ='append', index=False)
                
                conn.commit()
except:
    print('Error')
                
finally :
    end = timer()
    print(timedelta(seconds= end-start))
    print(sum)
    conn.close()