In [135]:
'''
MariaDB , HeidiSQL Program Connection Code
'''

'\nMariaDB , HeidiSQL Program Connection Code\n'

In [136]:
## 데이터베이스를 사용하기 위해 Python DB API 표준을 따르는 pymysql이라는 모듈 사용
import pymysql
import csv

In [137]:
# Connection Info
# DictCursor cursorclass : DB를 조회한 결과를 Coulmn명이 Key인 Dictionary로 저장해줌 
conn = pymysql.connect(host='127.0.0.1', user='root', password='root', db='pythonDB', charset = 'utf8',
                      autocommit=True, cursorclass=pymysql.cursors.DictCursor) 
cur = conn.cursor()

sql = "SELECT * FROM book_merit WHERE MNG_NO = 3 ;"

cur.execute(sql)
result = cur.fetchall()
print(result)

conn.commit()
conn.close()

[{'MNG_NO': 3, 'CONTENT': '1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진교육훈련반(國內挺進敎育訓練班)에 편입(編入)한 사실이 확인됨.'}]

In [146]:
print(df)

   MNG_NO                                            CONTENT
0       3  1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진...

In [138]:
'''
Data Preprocessing
'''

'\nData Preprocessing\n'

In [139]:
import pandas as pd
import numpy as np
import re

In [140]:
df = pd.DataFrame(result)
print(df)
type(df)

   MNG_NO                                            CONTENT
0       3  1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진...

pandas.core.frame.DataFrame

In [141]:
dataframe_list = df[['CONTENT']].values.tolist()
print(dataframe_list)
# list
type(dataframe_list)

[['1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진교육훈련반(國內挺進敎育訓練班)에 편입(編入)한 사실이 확인됨.']]

list

In [142]:
# ''.join(리스트) : 매개변수로 들어온 리스트를 문자열로 합쳐서 반환
# split() : 괄호 안에 아무 것도 넣어주지 않으면 공백(스페이스, 탭, 엔터)를 기준으로 문자열로 나누어줌
ListtoString = ''.join([str(element) for element in dataframe_list])
print(ListtoString)
# str
type(ListtoString)

['1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진교육훈련반(國內挺進敎育訓練班)에 편입(編入)한 사실이 확인됨.']

str

In [143]:
# 형태소 분석기
from konlpy.tag import *
hannanum = Hannanum()

In [144]:
mpva_nouns = hannanum.nouns(ListtoString)
print(mpva_nouns)

['1945', '6', '한국광복군(韓國光復軍)', '제3지대(第三支隊)', '입대(入隊)하', '국내정진교육훈련반(國內挺進敎育訓練班)', '편입(編入)한', '사실', '확인']

In [145]:
df2 = pd.DataFrame(mpva_nouns)
df2.columns = ['WORD']
print(df2)

                   WORD
0                  1945
1                     6
2          한국광복군(韓國光復軍)
3            제3지대(第三支隊)
4               입대(入隊)하
5  국내정진교육훈련반(國內挺進敎育訓練班)
6               편입(編入)한
7                    사실
8                    확인

In [147]:
# 컬럼 결합
conc_df = pd.concat([df,df2], axis= 1).fillna(method='pad').drop('CONTENT', axis=1)
# MNG_NO 컬럼 : 실수형에서 정수형으로 형 변환
conc_df = conc_df.astype({'MNG_NO': 'int'})
conc_df

   MNG_NO                  WORD
0       3                  1945
1       3                     6
2       3          한국광복군(韓國光復軍)
3       3            제3지대(第三支隊)
4       3               입대(入隊)하
5       3  국내정진교육훈련반(國內挺進敎育訓練班)
6       3               편입(編入)한
7       3                    사실
8       3                    확인

In [121]:
# 연번
conc_df["SERIAL_NO"] = conc_df.index + 1
conc_df = conc_df[['MNG_NO', 'SERIAL_NO', 'WORD']]
conc_df

   MNG_NO  SERIAL_NO                  WORD
0       3          1                  1945
1       3          2                     6
2       3          3          한국광복군(韓國光復軍)
3       3          4            제3지대(第三支隊)
4       3          5               입대(入隊)하
5       3          6  국내정진교육훈련반(國內挺進敎育訓練班)
6       3          7               편입(編入)한
7       3          8                    사실
8       3          9                    확인

In [125]:
import sqlite3
import sqlalchemy

In [126]:
db_engine = sqlalchemy.create_engine("mysql+pymysql://{user}:{password}@localhost/{db}".format(user='root', password='root', db='pythonDB'))

In [127]:
pd.read_sql('book_merit_copy', db_engine)

Empty DataFrame
Columns: [MNG_NO, SERIAL_NO, WORD]
Index: []

In [128]:
conc_df.to_sql('book_merit_copy', db_engine, if_exists ='append', index=False)