In [1]:
import pandas as pd

In [11]:
#data load
df_store = pd.read_csv('C:/Users/user/Desktop/프로젝트/대전_상권정보.csv')

In [12]:
df_store.head(2)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,22401931,스피드메이트,NaN,F,생활서비스,F14,자동차/이륜차,F14A01,자동차정비/카센타,NaN,...,3.020010e+24,NaN,대전광역시 유성구 관들4길 25,305509,34018,NaN,NaN,NaN,127.393241,36.424448
1,20287192,도마인더키친,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,3.020010e+24,NaN,대전광역시 유성구 반석로11번길 66-17,305150,34068,NaN,1.0,NaN,127.315486,36.389276

In [14]:
#필요한 변수만 뽑아옴
df_store2 = df_store[['상호명','지점명','상권업종중분류명','상권업종소분류명','도로명주소','경도','위도']]

In [15]:
df_store2.head(2)

,상호명,지점명,상권업종중분류명,상권업종소분류명,도로명주소,경도,위도
0,스피드메이트,NaN,자동차/이륜차,자동차정비/카센타,대전광역시 유성구 관들4길 25,127.393241,36.424448
1,도마인더키친,NaN,한식,한식/백반/한정식,대전광역시 유성구 반석로11번길 66-17,127.315486,36.389276

In [17]:
#중분류명이 종합 소매점인 데이터만 가져옴
df_store3 = df_store2[df_store2['상권업종중분류명']=='종합소매점']

In [18]:
#소분류명에 어떠한 것이 몇개 있는지 파악하기 위해서
df_store3['상권업종소분류명'].value_counts()

편의점          1197
수퍼마켓         1034
종합소매          489
시장/종합상가       271
잡화점           242
할인점           216
생활용품판매        186
구판장/직판장        20
아케이드/쇼핑센타      15
백화점            12
혼수전문점          11
수입품판매점          8
조합/연금매장         7
Name: 상권업종소분류명, dtype: int64

In [20]:
#위의 소분류명중 편의성과 필요없는 분류명은 제외시킴
#구판장/직판장, 혼수전문점, 수입품판매점, 조합/연금매장 제거 
df_store4 = df_store3[(df_store3['상권업종소분류명']!='구판장/직판장') & (df_store3['상권업종소분류명']!='혼수전문점') & 
          (df_store3['상권업종소분류명']!='수입품판매점') & (df_store3['상권업종소분류명']!='조합/연금매장')]

In [21]:
df_store4.to_csv('C:/Users/user/Desktop/프로젝트/df_store.csv', index=False, encoding='cp949')