In [13]:
'''
Using MariaDB , HeidiSQL Program, Konlpy
'''

'\nUsing MariaDB , HeidiSQL Program, Konlpy\n'

In [14]:
## 데이터베이스를 사용하기 위해 Python DB API 표준을 따르는 pymysql명의 모듈 사용
import pymysql
import csv

In [15]:
# Connection Info
# DictCursor cursorclass : DB를 조회한 결과를 Coulmn명이 Key인 Dictionary로 저장해줌 
conn = pymysql.connect(host='127.0.0.1', user='root', password='root', db='pythonDB', charset = 'utf8',
                      autocommit=True, cursorclass=pymysql.cursors.DictCursor) 
# 커서 정보
cur = conn.cursor()

# 실행할 sql문
sql = "SELECT * FROM book_merit WHERE MNG_NO = 3;" 
# sql = "SELECT * FROM book_merit WHERE MNG_NO >= 3 and MNG_NO <= 4;" 

# cursor로 sql문 실행
# execute : cursor 객체에 sql문을 실행시킴
cur.execute(sql)

# fetchall() : 지정 테이블 안의 모들 데이터를 추출
# fetchone() : 지정 테이블 안의 데이터를 한 행씩 추출
# fetchmany(size=원하는 데이터 수) : 지정 테이블 안의 데이터를 size 개의 행을 추출
result = cur.fetchall()
print(result)
# type(result)

# 저장 (트랜잭션의 변경내용을 DB에 반영시킴)
# conn.commit()

[{'MNG_NO': 3, 'CONTENT': '1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진교육훈련반(國內挺進敎育訓練班)에 편입(編入)한 사실이 확인됨.'}]

In [16]:
'''
Data Preprocessing
'''

'\nData Preprocessing\n'

In [17]:
import pandas as pd
import re

In [18]:
# Dataframe형 선언
df = pd.DataFrame(result)
# columns명 변경
df.columns = ["관리번호", "CONTENT"]
print(df)
type(df)

   관리번호                                            CONTENT
0     3  1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진...

pandas.core.frame.DataFrame

In [19]:
# values를 사용해 선택해준 특정 열의 값만 추출
# dataframe_val = df[['CONTENT']].values

In [20]:
# 추출한 값의 타입을 리스트로 변경하기 위해 tolist()를 수행
# dataframe_list = dataframe_val.tolist()

In [21]:
dataframe_list = df[['CONTENT']].values.tolist()
print(dataframe_list)
type(dataframe_list)

[['1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진교육훈련반(國內挺進敎育訓練班)에 편입(編入)한 사실이 확인됨.']]

list

In [22]:
# ''.join(리스트) : 매개변수로 들어온 리스트를 문자열로 합쳐서 반환
# split() : 괄호 안에 아무 것도 넣어주지 않으면 공백(스페이스, 탭, 엔터)를 기준으로 문자열로 나누어줌
ListtoString = ''.join([str(element) for element in dataframe_list])
print(ListtoString)
type(ListtoString)

['1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진교육훈련반(國內挺進敎育訓練班)에 편입(編入)한 사실이 확인됨.']

str

In [23]:
# konlpy : 교육용으로 개발된 형태소분석기
from konlpy.tag import *
hannanum = Hannanum()

In [24]:
mpva_nouns = hannanum.nouns(ListtoString)
print(mpva_nouns)
# len(mpva_nouns)
# type(mpva_nouns)

# rstrip : 문자열 뒷쪽 '한'을 제거
# lstrip : 문자열 앞쪽 제거

# new code
# mw = "경기 사실 확인 아래 전개 "

# 불필요한 한글 부분제거
for i, word in enumerate(mpva_nouns):

#     new code
#     if mw not in word :
#         print('>> modify: ' + word)
#         mpva_nouns[i] = word.strip(mw)    
    
    if ')' in word :
        print('>> modify: ' + word)
        word.split(")", maxsplit=1)
        mpva_nouns[i] = word.split(")", maxsplit=1)[0] + ')'
    
    if '사실' in word :
        print('>> modify: ' + word)
        mpva_nouns[i] = word.rstrip('사실')
    if '확인' in word :
        print('>> modify: ' + word)
        mpva_nouns[i] = word.rstrip('확인')

    if '1945' in word :
        mpva_nouns[i] = word.rstrip('1945')
    if '6' in word :
        mpva_nouns[i] = word.rstrip('6')
        
#     if '하' in word :
#         print('>> modify: ' + word)
#         mpva_nouns[i] = word.rstrip('하')         
#         if '휘하' in word :
#             mpva_nouns[i] = word.rstrip('')
#         if '하순' in word :
#             mpva_nouns[i] = word.rstrip('')
            
#     # 필요한 단어는 제거되면 안되기 때문에 조건문으로 처리
#     # 한국광복군, 편입한 중에 편입한의 '한'만 제거
#     if '한' in word :
#         print('>> modify: ' + word)
#         mpva_nouns[i] = word.rstrip('한')
        
#     if '일' in word :
#         print('>> modify: ' + word)
#         mpva_nouns[i] = word.rstrip('일')
#         # 불필요한 작업일 수도.
#         if '16일' in word :
#             mpva_nouns[i] = word.rstrip('')
#         if '20일' in word :
#             mpva_nouns[i] = word.rstrip('')
#         if '22일' in word :
#             mpva_nouns[i] = word.rstrip('')            
#         if '25일' in word :
#             mpva_nouns[i] = word.rstrip('')            
#         if '27일' in word :
#             mpva_nouns[i] = word.rstrip('')
#         if '29일' in word :
#             mpva_nouns[i] = word.rstrip('')            

#     if '뜻' in word :
#         print('>> modify: ' + word)
#         mpva_nouns[i] = word.rstrip('뜻')     
    
# 위의 코드들을 실행하면 글자만 지웠기에 '' 인덱스가 남아있었습니다.
# 그래서 ''를 제거하는 if 조건문            
if '' in mpva_nouns :
    mpva_nouns = list(filter(None, mpva_nouns))
            
print(mpva_nouns)
# type(mpva_nouns)

['1945', '6', '한국광복군(韓國光復軍)', '제3지대(第三支隊)', '입대(入隊)하', '국내정진교육훈련반(國內挺進敎育訓練班)', '편입(編入)한', '사실', '확인']
>> modify: 한국광복군(韓國光復軍)
>> modify: 제3지대(第三支隊)
>> modify: 입대(入隊)하
>> modify: 국내정진교육훈련반(國內挺進敎育訓練班)
>> modify: 편입(編入)한
>> modify: 사실
>> modify: 확인
['한국광복군(韓國光復軍)', '제3지대(第三支隊)', '입대(入隊)', '국내정진교육훈련반(國內挺進敎育訓練班)', '편입(編入)']

In [25]:
print(df)

   관리번호                                            CONTENT
0     3  1945. 6 한국광복군(韓國光復軍) 제3지대(第三支隊)에 입대(入隊)하고 국내정진...

In [26]:
df2 = pd.DataFrame(mpva_nouns)
df2.columns = ['단어']
print(df2)

                     단어
0          한국광복군(韓國光復軍)
1            제3지대(第三支隊)
2                입대(入隊)
3  국내정진교육훈련반(國內挺進敎育訓練班)
4                편입(編入)

In [32]:
# axis=0 : 행 방향, 작업 결과가 행으로 나타남
# axis=1 : 열 방향, 작업 결과가 열로 나타남
# drop() : 삭제된 결과값만 보일 뿐, 메모리에 있는 데이터프레임 값이 실제로 삭제된 것은 아니다
# concat : 행과 열을 axis 값에 맞게 병합함
pd.concat([df,df2], axis=1).drop('CONTENT', axis=1)

# fillna : 누락된 '키' 값을 입력한 값으로 채워주거나, 기능을 통해 채울 수 있다.
conc_df = pd.concat([df,df2], axis= 1).fillna(method='pad').drop('CONTENT', axis=1)
# 관리번호 컬럼 : 실수형에서 정수형으로 형 변환
conc_df = conc_df.astype({'관리번호': 'int'})
conc_df

   관리번호                    단어
0     3          한국광복군(韓國光復軍)
1     3            제3지대(第三支隊)
2     3                입대(入隊)
3     3  국내정진교육훈련반(國內挺進敎育訓練班)
4     3                편입(編入)

In [33]:
# 연번 생성
conc_df["연번"] = conc_df.index + 1
# columns 순서 변경
conc_df = conc_df[['관리번호', '연번', '단어']]
conc_df

   관리번호  연번                    단어
0     3   1          한국광복군(韓國光復軍)
1     3   2            제3지대(第三支隊)
2     3   3                입대(入隊)
3     3   4  국내정진교육훈련반(國內挺進敎育訓練班)
4     3   5                편입(編入)

In [29]:
# 지정된 경로에 csv 파일 생성
#conc_df.to_csv('C:\python\Testcsv.csv', index = None,encoding='utf-8-sig')