In [1]:
import pymysql
import csv

import pandas as pd
import numpy as np
import re

In [2]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='root', db='pythonDB', charset = 'utf8',
                      autocommit=True, cursorclass=pymysql.cursors.DictCursor) 
cur = conn.cursor()

sql = "SELECT WORD, COUNT(*) AS CNT FROM book_merit_gh GROUP BY WORD order by CNT DESC"

cur.execute(sql)
result = cur.fetchall()
# print(result)

conn.commit()
conn.close()

In [3]:
df_result = pd.DataFrame(result)
df_result

                WORD    CNT
0                  등  30807
1                  그  17227
2                 활동  16437
3                 정부  16048
4                추서하  14771
...              ...    ...
124349         맹휴주도자      1
124350      천도교천일기념일      1
124351     정광조(鄭廣朝)에      1
124352         대흥군(현      1
124353  민창식의진(閔昌植義陣)      1

[124354 rows x 2 columns]

In [17]:
df_result.to_csv('C:\python\Mpva_file.csv', index = None,encoding='utf-8-sig')